 body {
     width: 900px;
 }
 
 .wrapper div {
    /* display: flex; */
    /* flex-direction: row;  */
    /* justify-content: flex-start;
    flex-basis: 0; */
}

.icons div {
    /* display: flex; */
    /* justify-self: flex-end; */
}

.header div {
    display: flex;
    justify-self: flex-start;
}

div .header #delicious {
    display: flex;
}

/* .floater {
    float: left;
    grid-area: float;
} */
.header {
    grid-area: right;
}

.icons {
    grid-area: left;
    justify-self: end;
    align-items: flex-end;
}

.posted {
    grid-area: right;
}

.print {
    grid-area: left;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "right left"
    "right icons"
}

div .ingredients {
    display: flex;
    align-content: center no-repeat;
    justify-content: space-between;
}

div ul .left {
    width: 50%;
    padding: 10px;
}

div ul .right {
    width: 50%;
    margin-right: 20px;
}

#css-table {
    display: table;
}

#css-table .col {
    display: table-cell;
    width: 50%;
    padding: 10px;
  }

div .background-container {
    width: 900px;
    height: 14px;
    background-image: url(img/hr-img.png);

}